bcrypt==4.0.1
blinker==1.9.0
click==8.1.8
cryptography==36.0.2
email-validator==2.0.0
fastapi==0.95.1
Flask==3.1.1
Flask-SQLAlchemy==3.1.1
greenlet==3.2.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
passlib==1.7.4
psycopg2-binary==2.9.6
pydantic==1.10.7
pymysql==1.1.1
python-dateutil==2.9.0.post0
python-jose==3.3.0
python-multipart==0.0.6
pytz==2025.2
requests==2.32.3
SQLAlchemy==2.0.16
typing_extensions==4.13.2
uvicorn==0.22.0
Werkzeug==3.1.3